@{
    ViewData["Title"] = "Volunteer Registration Success";
    ViewData["BodyClass"] = "about-background";
}

<div class="content-box">
    <h2>Thank You for Registering!</h2>
    <p>Your details have been recorded. We will contact you soon regarding volunteering opportunities.</p>
    <a href="/Volunteer/Register" class="btn btn-primary">Register Another Volunteer</a>
</div>